.table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .table th, .table td {
    text-align: left;
    padding: 0.5rem;
    vertical-align: top;
  }
  
  .table th {
    font-weight: bold;
    background-color: #f2f2f2;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  